.navbar {
  background-color: #f4dfb6;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  align-items: center;

  .nav-right {
    display: flex;
    gap: 1rem;
  }
}
